#about {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(#2a363b 0%, #192231 100%);
}
#about h1 {
  padding: 15vh 0px 5vh;
  display: flex;
  justify-content: center;
  font-size: 4rem;
}
#about .about_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#about_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.3rem;
  gap: 20px;
  padding: 10rem;
}

#about_text p {
  text-align: right;
}

.imageContainer {
  display: flex;
  align-items: center;
}
.imageContainer img {
  height: 30vh;
}

@media (max-width: 900px) {
  #about {
    display: flex;
    flex-direction: column-reverse;
  }

  #about_text {
  }

  p {
  }
}
@media (max-width: 750px) {
  #projects h2 {
  }
  .container-projects {
  }
  .container-projects a figure figcaption {
  }
}
