#contact {
  background-color: var(--color-gris);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  color: var(--color-blanco);
  height: calc(100vh - 18rem);
  border-bottom: 0.5rem solid var(--color-rojo);
}
#contact div h2 {
  font-family: Raleway, sans-serif;
  font-size: 6rem;
}
#contact div p {
  font-size: 1.8rem;
  text-align: center;
}
#contact-links ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin-top: 3rem;
}
#contact-links ul li a {
  text-decoration: none;
  font-size: 2.4rem;
}
#contact-links ul:hover li {
  filter: blur(2px);
  transition: all 0.5s;
}
#contact-links ul li:hover {
  transform: translateY(0.5rem) scale(1.05);
  filter: none;
}

@media (max-width: 750px) {
  #contact div h2 {
    font-size: 4rem;
  }
  #contact-links ul {
    flex-direction: column;
  }
}
