footer {
  height: 8rem;
  background: linear-gradient(hsl(217.5, 32.4%, 9%), hsl(217.5, 32.4%, 0%));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  gap: 1.5rem;
}
footer p {
  font-size: 2.8rem;
}

footer img {
  width: 6rem;
}
