.formContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 20px;
  border-radius: 10px;
  background-color: hsl(217.5, 25%, 15%);
  box-shadow: 0.5rem 0.5rem 1rem hsl(0, 0%, 30%),
    -0.5rem -0.5rem 1rem hsl(0, 0%, 10%);
}
.formContainer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 2.5rem;
}
.formContainer form label {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.formContainer form input {
  background-color: #333333;
  padding: 4px 6px;
  border-radius: 1rem;
  font-size: 2.5rem;
}
.formContainer form textarea {
  background-color: #333333;
  padding: 4px 6px;
  border-radius: 1rem;
  border-width: 2px;
  border-style: inset;
  font-size: 2.5rem;
}
.formContainer form button {
  background-color: #333333;
  padding: 10px 16px;
  border-radius: 1rem;
  outline: none;
  width: 100%;
  font-weight: bold;
}
