.appHeader {
  background-color: var(--color-rojo);
  width: 100%;
  height: 10vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  box-shadow: 2px 2px 2px var(--color-gris);
}

.appHeader nav {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.appHeader nav a h1 {
  font-family: 'Galada', cursive;
  font-size: 3.5rem;
}

.menuIcon {
  height: 32px;
  width: 32px;
  background-color: transparent;
  background-image: url('/public/menu.svg');
  background-size: cover;
  background-position: center;
  display: none;
  border: none;
}

.appHeader a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

.appHeader a img {
  width: 80px;
  height: auto;
  fill: '#000000';
  stroke: '#fff';
}

.appHeader ul {
  display: flex;
  list-style: none;
  gap: 5%;
  margin-right: 2%;
}

.appHeader ul li {
  width: 150px;
}

.appHeader ul li :hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 1s;
}

.appHeader nav ul li a {
  font-size: 2.5rem;
  font-family: 'Galada';
}

.dropdownMenu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 80px;
  width: 300px;
  height: 0px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdownMenu li {
  padding: 0.7rem;
  list-style: none;
}

.dropdownMenu.open {
  height: 130px;
}

@media (max-width: 750px) {
  .appHeader nav {
    justify-content: space-between;
  }
  .menuIcon {
    height: 32px;
    width: 32px;
    display: flex;
  }

  .appHeader ul {
    display: none;
  }
  .dropdownMenu {
    display: block;
  }
}
