#contact {
  background: linear-gradient(hsl(217.5, 32.4%, 12%), hsl(217.5, 32.4%, 9%));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-blanco);
  min-height: 85vh;
  padding-top: 5%;
  border-bottom: 0.5rem solid var(--color-rojo);
  scroll-margin-top: 6vh;
}
#contact div h2 {
  font-family: 'Galada', cursive;
  font-size: 5rem;
  text-shadow: 4px 4px 7px black;
}
#contact div p {
  font-family: 'Galada', cursive;
  font-size: 2rem;
  text-shadow: 4px 4px 7px black;
  text-align: center;
  margin-bottom: 40px;
}
#contact-links {
  margin-bottom: 2%;
}

#contact-links ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin-top: 3rem;
}
#contact-links ul li {
  display: flex;
  align-items: center;
}

#contact-links ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2.4rem;
}
#contact-links ul:hover li {
  filter: blur(2px);
  transition: all 0.5s;
}
#contact-links ul li:hover {
  transform: translateY(0.5rem) scale(1.05);
  filter: none;
}

#contact .form-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;
  width: 90%;
}

@media (max-width: 1000px) {
  #contact div h2 {
    font-size: 4rem;
  }
  #contact-links ul {
    flex-direction: column;
  }
  #contact .form-wrapper {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
