:root {
  --primary-color: #090909;
  --background-color: #111;
  --font: sans-serif;
}

/* Timeline Container */
.timeline {
  background: var(--color-rojo);
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 4px 4px 8px var(--color-blanco);
}
