/* Card container */
.timeLineCard {
  position: relative;
  max-width: 700px;
}

/* setting padding based on even or odd */
.timeLineCard:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.timeLineCard:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.timeLineCard::before {
  content: '';
  position: absolute;
  width: 50%;
  border-color: #d9daa0;
  border-style: ridge;
}

/* Setting the border of top, bottom, left */
.timeLineCard:nth-child(odd)::before {
  left: 0px;
  top: -4.8px;
  bottom: -4.9px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.timeLineCard:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0.5px;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.timeLineCard:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.timeLineCard:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.timeLineCard:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.timeLineCard .info {
  display: flex;
  flex-direction: column;
  background: #333;
  color: gray;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 4px 4px 8px black;
}

/* Title of the card */
.timeLineCard .title {
  font-size: 2.5rem;
  padding: 2% 0;
  color: var(-color-blanco);
  text-shadow: 4px 4px 8px black;
  position: relative;
}

/* Timeline dot  */
.timeLineCard .title::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--color-blanco);
  border-radius: 999px;
  border: 3px solid var(--color-rojo);
}

/* Description of the card */
.timeLineCard .info p {
  text-shadow: 2px 2px 4px black;
}

/* text right if the card is even  */
.timeLineCard:nth-child(even) > .info > .title {
  text-align: right;
  line-height: 5rem;
}

/* setting dot to the left if the card is odd */
.timeLineCard:nth-child(odd) > .info > .title::before {
  left: -48px;
}

/* setting dot to the right if the card is odd */
.timeLineCard:nth-child(even) > .info > .title::before {
  right: -48px;
}
